<script setup lang="ts">
import { inject, type Ref } from 'vue';


const rail = inject<Ref<boolean>>('rail')
const drawer = inject<Ref<boolean>>('drawer')
</script>
<template>
<v-navigation-drawer
v-model="drawer"
:rail="rail"
permanent
@click="rail = false"
>
<v-list-item
  prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
  title="John Leider"
  nav
>
  <template v-slot:append>
    <v-btn
      variant="text"
      icon="mdi-chevron-left"
      @click.stop="rail = !rail"
    ></v-btn>
  </template>
</v-list-item>

<v-divider></v-divider>

<v-list density="compact" nav>
  <v-list-item prepend-icon="mdi-home-city" title="Home" value="home" :to ="{name: 'home'}"></v-list-item>
  <v-list-item prepend-icon="mdi-account" title="My Account" value="account"></v-list-item>
  <v-list-item prepend-icon="mdi-information" title="About" value="about" :to ="{path: '/about'}"></v-list-item>
</v-list>
</v-navigation-drawer>
</template>